@charset "UTF-8";

/* ============================
* フォント、背景
* ========================= */
:root {
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-17: 1.0625rem;
  --font-18: 1.125rem;
  --font-23: 1.4375rem;
  --font-24: 1.5rem;
  --font-28: 1.75rem;
  --font-30: 1.875rem;
  --font-32: 2rem;
  --font-34: 2.215rem;
  --font-36: 2.25rem;
  --font-40: 2.5rem;
  --font-48: 3rem;

  /* メインキャッチコピー */
  --catchcopy-font: clamp(3rem, 6.94vw, 6.25rem); /*  48px 〜100px */

  /* セクションタイトル */
  --title-font: clamp(2rem, 4.17vw, 3.75rem); /*32px 〜 60px */

  /* ナビメニュー */
  --nav-font: 1rem; /* 16px */

  /* サイドボタン */
  --side-btn-font: 0.875rem; /* 14px */

  /* フッターコピーライト */
  --footer-copy-font: 0.75rem; /* 12px */

  /* 文字、背景カラー */
  --background: #050507;
  --white: #fff;
  --gray: #7d7d7d;
}

/* ============================
* 共通
* ========================= */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: 'Source Sans 3', san-serif;
  font-style: normal;
  font-size: 100%;
  box-sizing: border-box;
  position: relative;
  font-weight: 300;
}

[lang='en']:not(.information__desc):not(.access__address--en) {
  text-transform: uppercase;
}

a {
  display: block;
  color: var(--white);
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

img {
  height: auto;
  display: block;
}

.main {
  text-align: center;
}

.hidden {
  display: none;
}
.pc {
  display: block;
}

.sp {
  display: none;
}

@media screen and (max-width: 900px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }
}

/* セクションタイトル */
.section__title {
  display: inline-block;
  font-size: var(--title-font);
  letter-spacing: 0.03em;
  font-weight: 300;
  line-height: 1.15;
  border-bottom: 1px solid var(--white);
  margin-bottom: 45px;
}

@media screen and (max-width: 900px) {
  .section__title {
    font-size: var(--font-24);
    line-height: 1.125;
    margin-bottom: 20px;
  }
}

/* コンテンツ幅 */
.common-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 11.25vw;
}

@media screen and (max-width: 983px) {
  .common-wrapper {
    padding: 0;
  }
}

.common-inner {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 900px) {
  .common-inner {
    width: 100%;
  }
}

/* フェードイン */
.fade-in {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 2s;
}

.fade-in.show {
  opacity: 1;
  transform: translate(0, 0);
}

/* ============================
*  Header
* ========================= */
.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 28px 30px;
}

@media screen and (max-width: 900px) {
  .header__inner {
    padding: 20px 16px;
  }
}

.header__logo {
  position: relative;
  z-index: 1000;
}

.header__logo-link {
  width: 175px;
}

/* メニューのスタイル */
.header-menu {
  position: absolute;
  top: -330px;
  left: 0;
  opacity: 1;
  width: 100%;
  transition: 0.6s ease;
  padding-top: 10px;
}

@media screen and (max-width: 900px) {
  .header-menu {
    padding: 25px;
  }
}

.header-menu__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--nav-font);
  line-height: 1.25;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  background-color: var(--background);
  padding-top: 90px;
}

.header-menu__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.header-menu__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid var(--line-white);
}

.header-menu__item:last-child {
  border-bottom: 1px solid var(--line-white);
}

.header-menu__link {
  color: var(--font-white);
  font-size: var(--nav-font);
  font-weight: 300;
  line-height: 1.25;
}

.header-menu__link {
  text-transform: uppercase;
}

/* ハンバーガーメニュー */
.hidden-text {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.hamburger__wrapper {
  width: 42px;
  height: 42px;
}

.hamburger {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}

.hamburger:hover {
  opacity: 0.7;
  cursor: pointer;
}

.hamburger__line {
  margin: auto;
  width: 30px;
  height: 2px;
  background-color: var(--white);
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
}

.hamburger__line::before,
.hamburger__line::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.hamburger__line::before {
  top: -10px;
}

.hamburger__line::after {
  top: 10px;
}

/* メニューオープン時のクラス */
.hamburger[aria-expanded='true'] .hamburger__line {
  background-color: transparent;
}

.hamburger[aria-expanded='true'] .hamburger__line::before,
.hamburger[aria-expanded='true'] .hamburger__line::after {
  top: 0;
  background-color: var(--white);
  z-index: 100;
}

.hamburger[aria-expanded='true'] .hamburger__line::before {
  transform: rotate(-45deg);
}

.hamburger[aria-expanded='true'] .hamburger__line::after {
  transform: rotate(45deg);
}

.header-menu.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  transform: translateY(0%);
  background-color: var(--background);
}

.header-menu.open .header-menu__list-wrapper {
  z-index: 1000;
}

.header-menu__list.open {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

/* ============================
  Main
========================= */
/* main-visual */
.main-visual {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .main-visual {
    height: 100vh;
  }
}

.main-visual__image {
  height: 100vh;
  width: calc(100% / 3);
  object-fit: cover;
  flex-shrink: 0;
}

@media screen and (max-width: 900px) {
  .main-visual__image {
    height: 100vh;
  }
}

.main-visual__image.scale-image {
  z-index: -1;
}

.main-visual__image.move-image {
  z-index: 5;
}

.main-catchcopy__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 105px;
  padding-bottom: 100px;
}

.main-catchcopy {
  font-size: var(--catchcopy-font);
  letter-spacing: 0.03em;
  font-weight: 300;
  line-height: 1.26;
  color: var(--font-white);
  text-align: center;
}

/* Information */
.information__inner {
  margin-bottom: 140px;
  z-index: 10;
}

@media screen and (max-width: 900px) {
  .information__inner {
    margin-bottom: 80px;
  }
}

.information__date--en {
  font-size: clamp(var(--font-16), 1.67vw, var(--font-24));
  line-height: 1.25;
}

.information__time--en,
.information__date--ja,
.information__time--ja {
  font-size: clamp(var(--font-16), 1.25vw, var(--font-18));
  line-height: 1.278;
}

.information__venue {
  display: block;
  padding: 20px 0;
  font-size: clamp(var(--font-32), 2.78vw, var(--font-40));
  font-weight: 400;
  line-height: 1.25;
}
/* Gallery */
.gallery__heading {
  margin-left: -20px;
  padding-top: 5px;
}

.gallery__body {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item:nth-of-type(even) {
  display: flex;
  justify-content: flex-end;
}

.gallery__img {
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.gallery__img.in-view {
  opacity: 1;
  transform: translateY(0);
}

.gallery__item--bottom {
  border: 1px solid var(--line-gray);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.gallery.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.access__bg {
  background: url(../img/bg.jpg) center center repeat !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
}

/* Access */
.access__inner {
  padding-top: 485px;
  padding-bottom: 480px;
  position: relative;
  z-index: 20;
}
@media screen and (max-width: 900px) {
  .access__inner {
    padding-top: 280px;
    padding-bottom: 280px;
  }
}

.access__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.access__venue {
  font-size: var(--font-28);
  font-weight: 400;
  line-height: 1.25;
}

.access__address,
.access__contact,
.access__link {
  font-size: var(--font-16);
  line-height: 1.25;
}

.access__link.access__map {
  width: 252px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  margin: 10px;
}
@media screen and (max-width: 900px) {
  .access__address--ja {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Contact */
.contact__inner {
  padding-bottom: 200px;
  border-bottom: 1px solid var(--white);
}
@media screen and (max-width: 900px) {
  .contact__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.contact__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.contact__link-wrapper {
  position: relative;
}
@media screen and (max-width: 900px) {
  .contact__link-wrapper {
    width: 100%;
  }
}

.contact__link-wrapper:hover {
  opacity: 0.5;
}

.contact__link {
  font-size: var(--font-16);
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 80px;
  border: 1px solid var(--white);
}
@media screen and (max-width: 900px) {
  .contact__link {
    width: 100%;
  }
}

/* 矢印 */
.arrow {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 1px;
  border-radius: 9999px;
  background-color: var(--white);
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow::before {
  content: '';
  position: absolute;
  top: calc(50% - 0.5px);
  right: 0;
  width: 15px;
  height: 1px;
  border-radius: 9999px;
  background-color: var(--white);
  transform: rotate(25deg);
  transform-origin: calc(100% - 0.5px) 50%;
}

.contact__link-wrapper:hover .arrow {
  transform: translateX(10px);
  transition: 0.3s ease;
}

@media screen and (max-width: 900px) {
  .arrow,
  .arrow::before {
    display: none;
  }
}
/* ============================
*  Footer
* ========================= */
/* footer */
.footer {
  background-color: var(--background);
  padding: 80px 30px;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 60px 30px;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.75rem;
  color: var(--font-white);
}
@media screen and (max-width: 900px) {
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

.footer__inner--left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__address {
  line-height: 1.25;
  line-height: 1.667;
}

.footer .sns-link__wrapper {
  display: flex;
  gap: 15px;
}

.footer__inner--right {
  display: flex;
  gap: 30px;
}

.footer__pp,
.footer .sns-link,
.footer__copy {
  display: block;
  line-height: 1.25;
}

/* ============================
* サイドボタン(PCのみ)
* ========================= */
@media screen and (min-width: 900px) {
  .side-btn {
    border: solid 1px #fff;
    position: fixed;
    right: -144px;
    bottom: 200px;
    transform: rotate(-90deg) translateY(60px);
    transition: 0.6s;
    z-index: 30;
    text-align: center;
  }

  .side-btn__link {
    width: 165px;
    font-size: 0.875rem;
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 15px 0;
    transition: 0.3s;
  }

  .side-btn__link + .side-btn__link {
    border-left: 1px solid var(--white);
  }

  .side-btn.visible {
    right: -150px;
  }
}
